@import "../lib/bootstrap/variables";
@import "../lib/bootstrap/mixins";

@grid-item-w: 1140px / 6;
@grid-item-h: 115px;

#ec_nav{
  background-color: #FFFFFF;
  padding: 20px 0 30px;

  .categories{
    *zoom: 1;
    margin-bottom: 10px;
  }

  .content{
    height: @grid-item-h * 2;
    overflow: hidden;
  }

  .grid{
    .clearfix();
    height: @grid-item-h * 2;
    margin-bottom: 30px;

    .grid-item{
      .size(@grid-item-w, @grid-item-h);
      float: left;
      margin: 0 -1px -1px 0;

      a{
        display: block;
        border: 1px solid #cccccc;
        .size(100%, 100%);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }

  .baidu{background-image: url(ec-nav/logos/baidu.png)}
  .weibo{background-image: url(ec-nav/logos/weibo.png)}
  .yixun{background-image: url(ec-nav/logos/yixun.png)}
  .amazon{background-image: url(ec-nav/logos/amazon.png)}
  .dangdang{background-image: url(ec-nav/logos/dangdang.png)}
  .dangdang{background-image: url(ec-nav/logos/dangdang.png)}
  .dianpingtuan{background-image: url(ec-nav/logos/dianpingtuan.png)}
  .gome{background-image: url(ec-nav/logos/gome.png)}
  .jd{background-image: url(ec-nav/logos/jd.png)}
  .jumei{background-image: url(ec-nav/logos/jumei.png)}
  .mbaobao{background-image: url(ec-nav/logos/mbaobao.png)}
  .nala{background-image: url(ec-nav/logos/nala.png)}
  .newegg{background-image: url(ec-nav/logos/newegg.png)}
  .paipai{background-image: url(ec-nav/logos/paipai.png)}
  .suning{background-image: url(ec-nav/logos/suning.png)}
  .tiantian{background-image: url(ec-nav/logos/tiantian.png)}
  .vipshop{background-image: url(ec-nav/logos/vipshop.png)}
  .xifuquan{background-image: url(ec-nav/logos/xifuquan.png)}
  .yhd{background-image: url(ec-nav/logos/yhd.png)}
  .lefeng{background-image: url(ec-nav/logos/lefeng.png)}
  .moonbasa{background-image: url(ec-nav/logos/moonbasa.png)}
  .lashou{background-image: url(ec-nav/logos/lashou.png)}
  .okbuy{background-image: url(ec-nav/logos/okbuy.png)}
  .alipay{background-image: url(ec-nav/logos/alipay.png)}
  .tenpay{background-image: url(ec-nav/logos/tenpay.png)}
  .autohome{background-image: url(ec-nav/logos/autohome.png)}
  .meituan{background-image: url(ec-nav/logos/meituan.png)}
  .qidian{background-image: url(ec-nav/logos/qidian.png)}
  .sohu{background-image: url(ec-nav/logos/sohu.png)}
  .qq{background-image: url(ec-nav/logos/qq.png)}
  .wangyi{background-image: url(ec-nav/logos/wangyi.png)}
  .vancl{background-image: url(ec-nav/logos/vancl.png)}
  .wowotuan{background-image: url(ec-nav/logos/wowotuan.png)}
  .youku{background-image: url(ec-nav/logos/youku.png)}
  .taobao{background-image: url(ec-nav/logos/taobao.png)}
  .tmall{background-image: url(ec-nav/logos/tmall.png)}
  .sina{background-image: url(ec-nav/logos/sina.png)}
  .weibo{background-image: url(ec-nav/logos/weibo.png)}
  .tmall{background-image: url(ec-nav/logos/tmall.png)}
  .icbc{background-image: url(ec-nav/logos/icbc.png)}
  .gaopeng{background-image: url(ec-nav/logos/gaopeng.png);}
  .spdb{background-image: url(ec-nav/logos/spdb.png);}
  .baifa{background-image: url(ec-nav/logos/baifa.png);background-color: #c80000;}
  .baifubao{background-image: url(https://www.baifubao.com/resource/global/css/images/logo.png)}
  .citibank{background-image: url(ec-nav/logos/citibank.png)}
  .found123{background-image: url(ec-nav/logos/found123.png)}
  .cgbchina{background-image: url(ec-nav/logos/cgbchina.png)}
  .cib{background-image: url(ec-nav/logos/cib.png)}
  .unionpay{background-image: url(ec-nav/logos/unionpay.gif)}
  .huochepiao{background-image: url(ec-nav/logos/huochepiao.gif)}
  .aimer{background-image: url(ec-nav/logos/aimer.png)}
  .yougou{background-image: url(ec-nav/logos/yougou.gif)}
  .vjia{background-image: url(ec-nav/logos/vjia.png)}
  .icbc{background-image: url(ec-nav/logos/icbc.png)}
  .bankcomm{background-image: url(ec-nav/logos/bankcomm.png)}
  .ccb{background-image: url(ec-nav/logos/ccb.png)}
  .cebbank{background-image: url(ec-nav/logos/cebbank.png)}
  .cmbc{background-image: url(ec-nav/logos/cmbc.png)}
  .cmbchina{background-image: url(ec-nav/logos/cmbchina.png)}
  .hxb{background-image: url(ec-nav/logos/hxb.png)}
  .lamiu{background-image: url(ec-nav/logos/lamiu.png)}
  .pingan{background-image: url(ec-nav/logos/pingan.png)}
  .psbc{background-image: url(ec-nav/logos/psbc.png)}
  .boc{background-image: url(ec-nav/logos/boc.png)}
  .ecitic{background-image: url(ec-nav/logos/ecitic.png)}
  .abchina{background-image: url(ec-nav/logos/abchina.png)}
  .nuomi{background-image: url(ec-nav/logos/nuomi.png)}
  .strawberrynet{background-image: url(ec-nav/logos/strawberrynet.jpg)}
  .yohobuy{background-image: url(ec-nav/logos/yohobuy.png)}
  .junph{background-image: url(ec-nav/logos/junph.png)}
  .banggo{background-image: url(ec-nav/logos/banggo.png)}
  .wangyicaipiao{background-image: url(ec-nav/logos/wangyicaipiao.png)}
  .lufax{background-image: url(ec-nav/logos/lufax.png)}
  .fund123{background-image: url(ec-nav/logos/fund123.png)}
}