@charset "UTF-8";

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap/theme";
@import "lib/font-awesome/font-awesome";
@import "lib/font-awesome/font-awesome-ie7";

@import "ec-nav/style";

@title-size: 18px;
@reading-line-height: 1.8;
@section-margin: 20px;
@section-margin-s: 8px;
@app-header-height: 60px;

@main-border: 1px solid #ccc;
@main-module-bg: #fcfcfc;

@dark-font-color: #666;
@light-font-color: #888;
@light-font-size: 12px;

@category-nav-width: 120px;

//Default
html, body{background-color: #fff;font-family: Verdana,Helvetica,Arial,sans-serif;}
p{
  margin-top: 20px;
}
h1, h2, h3, h4, h5, h6{font-family: "MicroSoft Yahei", Verdana, sans-serif;}
a:hover{text-decoration: none;}

.app-head{background-color: #ccc}
.app-nav{background-color: #aaa}
.app-body{
  margin: @section-margin 0;
}
.app-footer{
  background-color: #cccccc;

  .container{padding: 15px 0;}
}

/**
 * Transitions
 */
a:hover{.transition(color 200ms linear);}

/**
 * Header
 */
.app-logo{
  margin: 0;
  height: @app-header-height;
  line-height: @app-header-height;
  letter-spacing: 4px;

  a{color: @text-color}
}
.main-nav{
  @main-nav-height: @app-header-height - 20px;
  position: absolute;
  margin: -@main-nav-height 0 0 @category-nav-width + @section-margin;

  .nav a{
    height: @main-nav-height;
    line-height: @main-nav-height;
    padding: 0;
    margin-right: 15px;
    color: @dark-font-color;
  }
  .nav a:hover, .nav .active a, .nav .active a:hover{background-color: transparent;color: darken(@dark-font-color, 30%);}
}

/**
 * Layout: 3 col
 */
.layout-container{
  .clearfix();

  @sidebar-width: 300px;
  .primary{
    float: left;
    width: 100%;

    & > .inner{margin-right: @sidebar-width}
    .inner{_margin-right: @sidebar-width}

    .category-nav{
      float: left;
      width: @category-nav-width;
    }
    .main{margin-left: @category-nav-width}
    .content{margin: 0 @section-margin}
  }
  .sidebar{
    float: right;
    width: @sidebar-width;
    margin-left: -@sidebar-width;
  }
}


/**
 * Article
 */
.article{
  line-height: @reading-line-height;
  background-color: @main-module-bg;
  border: @main-border;
  margin-bottom: @section-margin;

  @padding-width: 25px;
  h1 {font-size: @title-size}
  .article-header{margin: 17px @padding-width 8px;}
  .article-body{margin: 10px @padding-width @padding-width;}
  .article-footer{margin: 6px @padding-width;}
  .meta{line-height: 1;color: @light-font-color;font-size: @light-font-size}

  .show-box{
    background-color: #ffffff;
    border-color: #ddd;
    border-width: 1px 0;
    border-style: solid;
    color: @light-font-color;
    font-size: @light-font-size;

    img{background-color: #eee}

    .media-show{
      margin: 15px 0 15px @padding-width;
      .pull-left();
    }
    .media-body{
      padding: 15px @padding-width;
    }

    .promotion-flag{
      height: 106px;
      margin-bottom: 10px;
      overflow: hidden;
    }
    .promotion-price{
      float: left;
      height: 34px;
      line-height: 34px;
      font-size: 28px;
      color: #F70;
    }
    .actions{
      float: right;
    }
  }
}

/* Actions Section */
.actions .action{margin-right: 8px;}

/* Icons, Buttons */

/* Comment Form */
.comment-form{
  .comment-content{
    margin-top: 10px;

    textarea{
      height: 100px;
    }
    .actions{
      .clearfix();
      background-color: #eeeeee;
      border: 1px solid #cccccc;
      margin-top: -1px;
      .submit{float: right;}
    }
  }
}

/* Comment */
.comment{
  .media();
  border-top: 1px solid #cccccc;
  padding-top: 10px;

  .user{
    .pull-left();
    float:left;

    img{.media-object();}
  }
  .messages{
    .media-body();
  }
}

//Navigator
.category-nav > .nav{
  border: @main-border;
  background-color: @main-module-bg;
}
.category-nav .nav{
  _border: @main-border;
  _background-color: @main-module-bg;
}


//Widget
.widget{
  border: @main-border;
  background-color: @main-module-bg;
  margin-bottom: @section-margin;

  header, .widget-body, footer{margin: @section-margin-s;}
}

//Links
.app-links{
  ul{list-style: none;.clearfix();padding: 0;}
  ul li{float: left;margin-right: 8px;}
}

//Pagination
.pagination{
  .page-btn{padding: 4px 8px;border: 1px solid transparent;margin-right: 4px;}
  .page-btn:not(.current):hover{border-color: @link-hover-color;}
  .page-btn.current{background-color: @link-color;color: #FFFFFF;}
}


